body{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: 'Trebuchet MS', sans-serif;
}

nav{
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: green;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 15px;
    display: block;
    font-size: 20px;
    border-radius: 10px;
}

nav ul li a:hover{
    background-color: darkgreen;
    font-size: 20px;
    color:white;
}

.dropdown-content{
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: darkgreen;
    color: white;
}

#drop{
    padding: 20px 10px 15px 5px;
}

#drop h2{
    text-align: center;
    margin-bottom: 20px;
    margin: 0;
    font-size: 50px;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#drop p{
    text-align: center;
}

section{
    padding: 50px;
    margin: 100px 100px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    margin-top: 38.5px;
}

.image {
    display: flex;
    justify-content: flex; 
    align-items: center; 
}

.container {
    display: flex;
    align-items: center;
    
}


.image-section {
    margin-right: 20px; 
}


.quote-section {
    max-width: 400px; 
}


.image-section img {
    width: 100%;
    max-width: 200px;
}


.section2{
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    margin-top: 100px;
}

.see-more-container{
    text-align: center;
    margin-top: 20px;
}

.see-more-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.see-more-button:hover{
    background-color: darkgreen;
}

.footer-divider{
    height: 5px;
    background-color: black;
    width: 100%;
    margin: 0;
}

footer{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 98.7%;
}

.image{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50;
}

.slides img{
    width: 100%;
    border-radius: 0;
    height: 600px;
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

#contact{
    display: flex;
    justify-content: space-between;
    margin: 38px auto;
    padding: 50px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 1200px;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-form{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.contact-form label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact-form input, .contact-form textarea{
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button{
    background-color: lightgreen;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

.contact-form button:hover{
    background-color: darkgreen;
}

.contact h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 35px;
    background: #0588c0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-details{
    width: 40%;
    padding: 20px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
}

.contact-details h3{
    font-size: 35px;
    margin-top: 0%;
}

.contact-background{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.error{
    font-family: Arial, sans-serif;
    color: #315555;
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
}

#gallery h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 50px;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.gallery-item{
    text-align: center;
    width: 350px;
}

.gallery img{
    width: 100%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3 ease;
}

.gallery img:hover{
    transform: scale(1.10);
}


.image-description{
    font-size: 16px;
    color: white;
    margin-top: 8px;
}

.lightbox{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content{
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    margin-top: 5%;
    z-index: 1002;
}

.close{
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1003;
}

.close:hover, .close:focus{
    color: #04255a;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1003;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: #04255a;
}

@keyframes gradientAnimation{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.tab{
    overflow: hidden;
}

.tab button{
    background-color: #ddc9ff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover{
    background-color: #04255a;
    color: #ffffff;
}

.tab button.active{
    background-color: #04255a;
    color: white;
    border-radius: 10px;
}
.tabcontent{
    display: none;
    padding: 20px;
    border: 1px solid #ddc9ff;
    border-radius: 10px;
    background: #0588c0;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        overflow-wrap: 1;
    }
}

.funfacts-section{
    padding: 30px;
    margin: 100px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.funfact-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
}

.funfact-card{
    width: 300px;
    height: 200px;
    perspective: 1000px;
    position: relative;
}

.funfact-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.funfact-card:hover .funfact-inner{
    transform: rotateY(180deg);
}

.funfact-front, .funfact-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.funfact-back1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image responsive */
    height: 100%;
    border-radius: 8px; /* Optional rounded image corners */
    margin-bottom: 10px; /* Space below the image */
}

.funfact-back img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image responsive */
    height: 100%;
    border-radius: 8px; /* Optional rounded image corners */
    margin-bottom: 10px; /* Space below the image */
}

.funfact-front{
    background-color: darkgreen;
}

.funfact-back img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image responsive */
    height: 100%;
    border-radius: 8px; /* Optional rounded image corners */
    margin-bottom: 10px; /* Space below the image */
}

.funfact-back{
    background-color: #0588c0;
    transform: rotateY(180deg);
}

.container{
    display: fixed;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    margin: 20px 100px;
    padding: 20px;
    border-radius: 8px;
    background: green;
}

.image-section img{
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 50%; /* Make the image circular */
    border: 2px solid white;
}

.quote-section{
    max-width: 150%;
    text-align: left;
}

.container .content {
    max-width: 400px;
}

.quote-section h1{
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.quote-section p{
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.quote-section blockquote{
    font-style: italic;
    margin: 0;
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
